/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
  --secondary-color:#FA8305;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */

}
@font-face {
  font-family: pop800;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) ;
}
@font-face {
  font-family: pop400;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: pop700;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: pop500;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: pop300;
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: pop200;
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: rubik700;
  src: url(../assets/fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: rubik500;
  src: url(../assets/fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubik400;
  src: url(../assets/fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: pop100;
  src: url(../assets/fonts/Poppins-Thin.ttf);
}









#pagetheme{
  text-align: center;
  background-color: rgb(250,131,5);
  background-size: 131.66px 41.34px;
  border-radius: 6px;
  margin-left: 36.13px;

  margin-top: 32px;
  font-size: 13px;
  padding:10px 25.82px 11.34px 24.84px ;
  margin-right: 59px;
}
#btndetail
{ background-color:rgb(250,131,5) ;
  background-size: 64px 29px;
  padding: 14px 31px 15px 30px;
  display: inline-block;
  margin-top: 48px;
  border-radius: 30px;
  text-decoration: none;
  font-family: pop500;
  color: white;
}
#image1{
  height: 761px;
  width: 806px;
  position: absolute;
  z-index: -2;
  margin-top: -100px;
  margin-left: 150px;

  float: right;
}
#image2{
  height: 64px;
  width: 59px;
  margin-top: 118px;
  margin-left: 594px;
  position: absolute;
}
#image3{
  height: 99px;
  width: 101px;
  margin-top: 102px;
  margin-left: 154px;
  position: absolute;
}
#image4{
  position: absolute;
  margin-top: 309px;
  margin-left: 0px;
  width: 96px;
  height:30px;
;
}
#Article2{
  font-size: 26px;
  clear: both;
  text-align: center;
  color: white;
  padding-top: 195px;
  margin-left:40px;
  font-family: pop400;
}

#Article3{
  padding-top: 139px;
  margin-left:147px;
  color: white;
}
#Article3 h1{
  font-family: pop700;
  color: white;
  font-size: 30px;
  padding-bottom: 30px;
}
#Article3 h3{
  font-family: pop200;
  color: white;
  line-height: 30px;
  font-size: 16px;
  padding-bottom: 30px;
}
#ImgBig{
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  padding-top: 46px;
  margin-left: 146px;
}











.topnav
{
  width: 1438.77px;
  height: 100px;
  left: 0.23px;
  z-index: 0;
}
.Article1{
  margin-left: 147px;
  margin-top: 103px;

  float: left;
}
.Article1 h3{
  color: rgb(250,131,5);
  font-family: pop700;
  margin-bottom: 20px;
}
.Article1 h1{
  font-size: 50px;
  line-height: 77.6px;
  font-family: pop700;
  color: white;
}
.Article1 h4{
  margin-top: 26px;
  line-height: 32px;
  color: white;
  font-size: 16px;
  font-family: pop200;

}
.topnav a{

  font-family: pop400;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin-left: 88px;
  margin-top: 40px;
  text-decoration: none;
  color: white;
}
.topnav a:focus{
  text-decoration: underline orange;
}

.part2{
  clear: both;
}
.part2 h2{
  display: inline-block;
  font-family:rubik700 ;
  font-size: 31px;
  margin-left: 147px;
  padding-top: 180px;
  color: white;
}
.part2 h3{
  display: inline-block;
  background-color:#5141AA;
  border-radius: 10px;
  padding: 10px 30px 9px 30px;
  color: white;
  font-family: rubik500;
  font-size: 20px;
  margin-left: 603px;
}
.part2 h4{
  font-family: rubik400;
  font-size: 22px;
  margin-left: 222px;
  color: white;
  padding-top: 25px;
}
.part2 img{
  height:350px;
  width: 251px;
  margin-left: 148px;
  padding-top: 57px;
}
.part2 li{
  float: right;

}
.box4{
  margin-left: 134px;
  padding-top: 134px;

}


.box4 article h1{
  font-family: pop700;
  color: white;
  padding-left: 434px;
  font-size: 30px;
}

.box4 article h3{
  font-family: pop100;
  color: white;
  text-align: center;
  margin-left: -150px;
  padding-top: 30px;
  line-height: 26.25px;
  font-size: 14px;
}

body{
  max-width: 1440px ;
  width: 1440px;
  height: 4351px;
  left: 2129px;
  background-color: rgb(59, 42, 159)

}


















